.action-room {
    top: 10px;
    right: 10px;
}
.loading .loader {
    display: inline !important;
}
.loading .text {
    display: none;
}
#content_message {
    max-height: 50vh;
    overflow: scroll;
}
